:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: var(--background) no-repeat center;
    background-size: cover;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title-container {
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container .logo-title img{
    width: 87.24px;
    height: 62.93px;
}

.title-container .title-content{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #FFFCF9;
}

.button-container{
    margin-top: 30px;
    margin-bottom: 26px;
}

.button-container .button-shuffle{
    width: 181px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    background-color: #E9E6E3;
    border: 0;
}

.button-container .button-shuffle .logo-button img{
    width: 35.56px;
    height: 25.29px;
    margin-right: 17px;
}

.subtitle-container .subtitle-content{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFCF9;
}

.subtitle-container {
    width: 381px;
    text-align: center;
}

.movie-container{
    display: flex;
    margin-top: 20px;
}

.movie-container .movie-title h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFCF9;
}

.movie-container .movie-description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFCF9;
}

.movie-container .movie-title {
   width: 423px; 
}

.movie-container .movie-description {
   width: 423px; 
    
}

.movie-img img{
    width: 200px;
}

.movie{
    margin-left: 25px;
}